* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --bg-clr: #181818;
  --bg-clr: hsl(240, 4%, 18%);
  --card-bg-clr: hsl(20, 19%, 21%);
  --card-bg-clr: hsl(0, 25%, 20%);
  --card-bg-clr: linear-gradient(90deg, hsl(0, 25%, 20%), hsl(0, 25%, 15%));
  --accent-clr: hsla(12, 81%, 53%, 0.835);
  --white: hsl(0, 0%, 96%);
}

.dark {
  --bg-clr: hsl(0, 0%, 90%);
  --accent-clr: hsl(12, 81%, 53%);
  --white: hsl(240, 4%, 11%);
  --card-bg-clr: linear-gradient(to bottom right, #f5f5f5, hsl(12, 31%, 61%));
}

.container {
  max-width: 1100px;
  width: 95%;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: inherit;
}

a:not(.btn) {
  color: var(--accent-clr);
  position: relative;
}

a:not(.btn)::after {
  content: "";
  width: 100%;
  height: 2px;
  inset: 0;
  top: 1.1em;
  border-radius: 1000px;
  position: absolute;
  background-color: var(--accent-clr);
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.3s ease-in-out;
}

a:not(.btn):hover::after {
  transform-origin: left;
  transform: scaleX(1);
}

.btn {
  padding: 1.1em 1em;
  cursor: pointer;
  border-radius: 3px;
  color: var(--white);
  text-align: center;
  display: block;
  transition: ease-in 100ms transform;
  width: 100%;
  font-size: 1em;
}

.btn:hover {
  transform: scaleY(1.1);
}

.btn.primary {
  background-color: var(--accent-clr);
  border: none;
}

.btn.secondary {
  background: none;
  border: 1px solid var(--accent-clr);
  color: var(--accent-clr);
}

li {
  list-style-type: none;
}

body {
  min-height: 100vh;
  background-color: var(--bg-clr);
  color: var(--white);
  font-family: sans-serif;
}

header {
  background-color: var(--accent-clr);
  padding: 1em;
  margin-bottom: 1em;
  height: 60px;
}

header .container {
  display: flex;
}

header .switcher {
  all: unset;
}

.headline {
  display: block;
  text-align: center;
  margin-bottom: 1em;
  height: 20px;
}

.profile img {
  display: none;
  width: 100%;
}

.welcome_sub {
  margin-top: 0.71em;
  opacity: 50%;
}

section:first-of-type {
  display: flex;
  gap: 2em;
  flex-direction: column;
  justify-content: space-evenly;
}

section + section {
  margin-top: 2em;
}

section h1 {
  font-size: 2.5em;
}

p {
  line-height: 1.8;
}

.ctas {
  display: flex;
  justify-content: space-around;
  gap: 1em;
  flex-direction: column;
}

.projects .card {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 1em;
}

.projects h2 {
  margin-bottom: 1em;
}

.project_card {
  padding: 1em;
  border-radius: 5px;
  cursor: pointer;
  background: var(--card-bg-clr);
}

.project_header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1em;
}

.project_tags {
  display: flex;
  gap: 1em;
  font-size: 0.8em;
}

.tools_list {
  display: grid;
  justify-content: space-between;
  gap: 1em;
}

.tools_list li {
  color: var(--accent-clr);
  display: inline-block;
  outline: 1px solid var(--accent-clr);
  border-radius: 1em;
  padding: 0.3em 1em;
}

.form_label {
  display: flex;
  flex-direction: column;
  position: relative;
}

label {
  position: absolute;
  left: 1em;
  background-color: var(--bg-clr);
  padding: 0 0.31em;
}

form {
  width: 100%;
}

.socials ul {
  display: flex;
  gap: 1em;
}

input,
textarea {
  border: none;
  background-color: var(--bg-clr);
  font-size: 1.1em;
  color: var(--white);
  padding: 0.7em 0.9em;
  margin: 0.5em 0;
  outline: 1px solid var(--accent-clr);
  border-radius: 0.1em;
}

.poko_konnen {
  display: flex;
  flex-direction: column;
  margin-top: 1.5em;
}

footer {
  margin-top: 1em;
  margin-bottom: 1em;
}

footer .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 800px) {
  #welcome {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
  }

  .profile {
    grid-column: 2;
    grid-row: 1 / span 2;
  }

  .profile img {
    display: block;
  }

  .welcome_title {
    display: block;
    grid-column: 1 / span 2;
  }

  .ctas {
    flex-direction: row;
    align-items: center;
    justify-content: stretch;
    width: 100%;
    align-self: start;
  }

  .poko_konnen {
    flex-direction: row;
  }

  .socials ul {
    flex-direction: column;
  }
}
