* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --prm-clr: #46549e;
  --white: hsl(0, 0%, 93%);
  --black: hsl(0, 0%, 20%);
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 1rem;
}

h1 {
  font-size: 32px;
}

a {
  color: var(--prm-clr);
  text-decoration: none;
}

body {
  min-height: 100vh;
  background-color: var(--white);
  color: var(--black);
  line-height: 1.8;
  font-size: 16px;
  font-family: sans-serif;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.profile .links {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

svg {
  display: flex;
  align-self: center;
}

.about .imp {
  color: var(--prm-clr);
}

.info .profession,
.info .email {
  color: var(--prm-clr);
  font-size: 15px;
}

.interest {
  margin-top: 1.5rem;
}

.projects {
  margin-top: 1rem;
}

.project__body {
  padding-left: 1rem;
}

.project .techs {
  list-style: none;
  font-size: 13px;
  color: var(--prm-clr);
  display: flex;
  gap: 0.5em;
}

.project .techs li::after {
  content: "]";
}

.project .techs li::before {
  content: "[";
}

footer {
  position: fixed;
  display: flex;
  justify-content: center;
  bottom: 0;
  left: 0;
  right: 0;
}

footer .container {
  padding-bottom: 0;
}
